@model Currency.Analysis.Accenture.Domain.DTOs.CurrencyDTO

@{
    ViewData["Title"] = "Create";
}

<h1>Adicionar</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div class="group-step">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group step">
                    <label asp-for="Value" class="control-label"></label>
                    <input type="number" min="0" asp-for="Value" class="form-control" />
                    <span asp-validation-for="Value" class="text-danger"></span>
                </div>

                <div class="form-group step">
                    <label asp-for="Applied" class="control-label"></label>
                    <select asp-for="Applied.Symbol">
                        <option>--</option>

                        @foreach (var item in ViewBag.DataApplied)
                        {
                            <option value="@item.Symbol">@item?.Name</option>

                        }
                    </select>
                    <span asp-validation-for="Applied" class="text-danger"></span>
                </div>
                <div class="form-group step">
                    <label asp-for="Replacement" class="control-label"></label>

                    <select asp-for="Replacement.Symbol">
                        <option>--</option>

                        @foreach (var item in ViewBag.DataReplacement)
                        {
                            <option value="@item.Symbol"> @item?.Name</option>

                        }
                    </select>
                    <span asp-validation-for="Replacement" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Avaliar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
